
# Created by https://www.gitignore.io/api/swift,swiftpm
# Edit at https://www.gitignore.io/?templates=swift,swiftpm

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages
Package.pins
Package.resolved
.build/
.swiftpm/xcode/*
!.swiftpm/xcode/xcshareddata
.swiftpm/xcode/xcshareddata/*
!.swiftpm/xcode/xcshareddata/xcschemes
.swiftpm/xcode/xcshareddata/xcschemes/*
!.swiftpm/xcode/xcshareddata/xcschemes/*.xcscheme
xcuserdata
*.xcodeproj

# End of https://www.gitignore.io/api/swift,swiftpm

test_output
